<div class="jumbotron mt-4">
  <h1 class="display-4">index</h1>
  <p class="lead">algo aqui</p>
  <hr class="my-4">
  <p>algo aqui</p>
  <a href=# class="btn btn-primary btn-lg">
    mi boton
  </a>
</div>
